  <div class="form">
    <%= form_for(booking) do |f| %>
      <%= f.hidden_field :flight_id, value: booking.flight_id %>
    
      <div class="passengers">
        <ul>
          <%= f.fields_for(:passengers) do |f_passenger| %>
            <li class="passenger" >
              <h4>Passenger #<%= f_passenger.index + 1 %></h4>
              <div class="field">
                <%= f_passenger.label :firstname %>
                <%= f_passenger.text_field :firstname %>
              </div>
              <div class="field">
                <%= f_passenger.label :lastname %>
                <%= f_passenger.text_field :lastname %>
              </div>
              <div class="field">
                <%= f_passenger.label :email %>
                <%= f_passenger.email_field :email %>
              </div>
              <div class="field">
                <%= remove_passenger(@booking) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="actions">
        <%= f.submit class: "submit"%>
        <%= add_passenger(@booking) %>
      </div>
    <% end %>
  </div>