<h1>New Booking</h1>



<% unless @booking.errors.empty? %>
  <div class="errors">
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>  
  </div>
<% end %>


<div class="form">
  <% i = 1 %>
  <%= form_for @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
  
    <%= f.fields_for :passengers do |f_passenger| %>
      <h4>Passenger <%= i %>: </h4>
      <div class="field">
        <%= f_passenger.label :firstname %>
        <%= f_passenger.text_field :firstname %>
      </div>
      <div class="field">
        <%= f_passenger.label :lastname %>
        <%= f_passenger.text_field :lastname %>
      </div>
      <div class="field">
        <%= f_passenger.label :email %>
        <%= f_passenger.email_field :email %>
      </div>
      <% i = i+1 %>
    <% end %>
  
    <div class="actions"><%= f.submit %></div>
  <% end %>
</div>